:root {
  --chat-width: 20rem;
  --costream-height: calc(var(--chat-width) * (9 / 16));
  --offset: 0px;
  --half-width: calc(50% - (var(--chat-width) / 2));
  --full-width: calc(100% - var(--chat-width));
}

.overlay {
  background-color: rgba(0,0,0,0);
  border: none;
  width: 2rem;
  height: 2rem;
  z-index: 999;
  padding: 0.2rem;
  display: block;
}

.overlay:hover {
  background-color: rgba(255,255,255,0.2);
}

#stream-overlay {
  position: absolute;
  top: 0.53%;
  right: calc(var(--chat-width) + 0.4375%);
  z-index: 999;
}

#collapse {
  position: absolute;
  top: calc(0.5rem + var(--offset));
  right: calc(var(--chat-width) - 2.6rem);
}

#collapse:hover {
  background-color: rgba(255,255,255,0.2);
}

#switch-chat {
  position: absolute;
  top: calc(0.5rem + var(--offset));
  right: calc(1rem);
}

#switch-chat:hover {
  background-color: rgba(255,255,255,0.2);
}

#switch-chat-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--chat-width);
  height: 3rem;
  background-color: rgb(24,24,27);
  z-index: 900;
  text-align: center;
  display: none;
}


#current-chat {
  font-family: "Roobert", sans-serif ;
  font-weight: 600;
  color: white;
  display: inline-block;
  transform: translateY(0.7rem);
  font-size: 0.9rem;
}

.tooltip {
  --bs-tooltip-bg: white;
  --bs-tooltip-opacity: 100%;
  font-weight: bold;
}

#main {
  margin: 0;
  padding: 0;
}

#stream-1 {
  position: absolute;
  margin: 0;
  padding: 0;
  width: var(--half-width);
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 500;
}

#stream-2 {
  position: absolute;
  margin: 0;
  padding: 0;
  width: var(--half-width);
  height: 100%;
  top: 0%;
  left: var(--half-width);
  z-index: 500;
}

.chat {
  position: absolute;
  margin: 0;
  padding: 0;
  width: var(--chat-width);
  height: calc(100% - var(--offset));
  top: var(--offset);
  right: 0%;
}

#chat-2 {
  display: none;
}