{% extends "./default.html" %}
{% load static %}

{% block script %}
  <script type="text/javascript" src="{% static 'core/js/multistream.js' %}"></script>
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/multistream.css' %}">
{% endblock %}

{% block content %}

<div id="body">
  <button id="collapse" class="overlay btn btn-secondary" onclick="collapse()" type="button" role="button"
  data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="tooltip" data-bs-title="Collapse">
    <i class="fa-sharp fas fa-arrow-right-from-line fa-lg"></i>
  </button>

  <button id="switch-chat" class="overlay btn btn-secondary" onclick="switchChat()" type="button" role="button"
  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="tooltip" data-bs-title="Switch Chat">
    <i class="fa-sharp fa-solid fa-repeat"></i> 
  </button>

  <div id="switch-chat-wrapper">
    <span id="current-chat"></span>
  </div>
  
  <div id="stream-overlay">
    <button id="expand" class="overlay btn btn-secondary" onclick="expand()" type="button" role="button"
    data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="tooltip" data-bs-title="Expand"
    style="display: none;">
      <i class="fa-sharp fas fa-arrow-left-from-line fa-lg"></i>
    </button>
    <div id="dropdown" class="dropstart">
      <button id="settings" class="overlay btn btn-secondary" type="button" role="button" data-bs-toggle="dropdown">
        <i class="fa-sharp fa-solid fa-wrench"></i>
      </button>
      <ul class="dropdown-menu">
        <li><span class="dropdown-header">Layouts</span></li>
        <li><button class="dropdown-item" type="button" onclick="switchSideBySide()">Side-by-Side</button></li>
        <li><button class="dropdown-item" type="button" onclick="switchStacked()">Stacked</button></li>
        <li><button class="dropdown-item" type="button" onclick="switchCostream()">Co-stream</button></li>
        <li><hr class="dropdown-divider"></li>
        <li><label for="chat-width" class="dropdown-header form-label">Chat Width</label></li>
        <li>
          <div class="dropdown-item d-flex">
            <input type="range" id="chat-width" class="form-range" value="20" min="20" max="50" step="5" onchange="chatWidth(this.value)" oninput="this.nextElementSibling.textContent = this.value">
            <span class="ms-3">20</span>
          </div>
        </li>
      </ul>
    </div>

    <button id="fullscreen" class="overlay btn btn-secondary" onclick="toggleFullScreen()" type="button" role="button"
    data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="tooltip" data-bs-title="Fullscreen">
      <i id="fullscreen-icon" class="fa-sharp fa-solid fa-expand"></i>
    </button>

    <button id="toggle-second-screen" class="overlay btn btn-secondary" onclick="toggleSecondStream()" type="button" role="button"
    data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="tooltip" data-bs-title="Toggle Second Stream">
      <i id="toggle-icon" class="fa-sharp fa-solid fa-video"></i>
    </button>

    <button id="swap-streams" class="overlay btn btn-secondary" onclick="swapStreams()" type="button" role="button"
    data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="tooltip" data-bs-title="Swap Streams">
      <i class="fa-sharp fa-solid fa-right-left"></i>
    </button>
  </div>

  <div id="main">
    <iframe id="stream-1"
      frameborder="0"
      allowfullscreen>
    </iframe>
    <iframe id="stream-2"
      frameborder="0"
      allowfullscreen>
    </iframe>
    <iframe id="chat-1" class="chat"
      frameborder="0">
    </iframe>
    <iframe id="chat-2" class="chat"
      frameborder="0">
    </iframe>
  </div>
</div>
<script>
  init(JSON.parse('{{ streams|escapejs  }}'), '{{ YT_API_KEY }}')
</script>
{% endblock %}